@model IEnumerable<BugList>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Bug List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="BugList" asp-action="Create" class="btn btn-primary">
               <i class="bi bi-plus-lg"></i> Add New Bug
            </a>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
        <tr class="table-dark">
            <th scope="row">Bugs</th>
            <td>Description</td>
            <td>Last Edited</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Reverse())
        {
            <tr>
                <td width="10%">
                    @obj.Name
                    <br>
                    @if (obj.Status == true)
                    {
                        <span class="badge rounded-pill bg-success">Open</span>
                    }
                    else
                    {
                        <span class="badge rounded-pill bg-danger">Closed</span>
                    }
                </td>
                <td width="40%">
                    @obj.Description
                </td>
                <td width="20%">
                    @obj.CreatedDateTime
@*                    <br>Created by: @obj.User*@
                </td>
                <td width="20%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="BugList" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-warning"> <i class="bi bi-pencil-square"></i> Edit</a>
                        &nbsp &nbsp &nbsp<a asp-controller="BugList" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger"> <i class="bi bi-trash"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>